.card {
  background: $card-bg-default;
  border-radius: $card-border-radius;
  box-sizing: border-box;
  box-shadow: $card-shadow;
  overflow: hidden;
  position: relative;

  &_col {
    &_1 {
      grid-column: span 1;
    }

    &_2 {
      grid-column: span 2;
    }

    &_3 {
      grid-column: span 3;
    }

    &_4 {
      grid-column: span 4;
    }

    &_5 {
      grid-column: span 5;
    }

    &_6 {
      grid-column: span 6;
    }

    &_7 {
      grid-column: span 7;
    }

    &_8 {
      grid-column: span 8;
    }

    &_9 {
      grid-column: span 9;
    }

    &_10 {
      grid-column: span 10;
    }

    &_11 {
      grid-column: span 11;
    }

    &_12 {
      grid-column: span 12;
    }
  }

  &_col-start {
    &_1 {
      grid-column-start: 1;
    }

    &_2 {
      grid-column-start: 2;
    }

    &_3 {
      grid-column-start: 3;
    }

    &_4 {
      grid-column-start: 4;
    }

    &_5 {
      grid-column-start: 5;
    }

    &_6 {
      grid-column-start: 6;
    }

    &_7 {
      grid-column-start: 7;
    }

    &_8 {
      grid-column-start: 8;
    }

    &_9 {
      grid-column-start: 9;
    }

    &_10 {
      grid-column-start: 10;
    }

    &_11 {
      grid-column-start: 11;
    }

    &_12 {
      grid-column-start: 12;
    }

    &_13 {
      grid-column-start: 13;
    }
  }

  &_col-end {
    &_1 {
      grid-column-end: 1;
    }

    &_2 {
      grid-column-end: 2;
    }

    &_3 {
      grid-column-end: 3;
    }

    &_4 {
      grid-column-end: 4;
    }

    &_5 {
      grid-column-end: 5;
    }

    &_6 {
      grid-column-end: 6;
    }

    &_7 {
      grid-column-end: 7;
    }

    &_8 {
      grid-column-end: 8;
    }

    &_9 {
      grid-column-end: 9;
    }

    &_10 {
      grid-column-end: 10;
    }

    &_11 {
      grid-column-end: 11;
    }

    &_12 {
      grid-column-end: 12;
    }

    &_13 {
      grid-column-end: 13;
    }
  }

  &_row {
    &_1 {
      grid-row: span 1;
    }

    &_2 {
      grid-row: span 2;
    }

    &_3 {
      grid-row: span 3;
    }

    &_4 {
      grid-row: span 4;
    }

    &_5 {
      grid-row: span 5;
    }

    &_6 {
      grid-row: span 6;
    }
  }

  &_padding {
    &_normal {
      padding: $padding-normal;

      @include size-md {
        padding: $padding-default;
      }
    }

    &_none {
      padding: 0;
    }
  }

  &_hover {
    cursor: pointer;
    transition: $transition-1;

    &:hover {
      box-shadow: $shadow-2;
    }
  }
}
