.wallet-mini {
  padding: $padding-normal;
  display: flex;
  &__icon {
    height: $wallet-mini-icon-size;
    width: $wallet-mini-icon-size;
    border-radius: 100%;
    background-color: $wallet-mini-icon-bg;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__body {
    margin-left: $padding-normal;
    width: calc(100% - #{$wallet-mini-icon-size} - #{$padding-normal});
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    color: $quick-silver;
    line-height: normal;
    font-size: $font-size-sm;
    font-weight: $font-weight-semi-bold;
  }
  &__actions {
    cursor: pointer;
    color: $quick-silver;
    font-size: 1.5em;
    transition: $transition-1;
    &:hover {
      color: $primary;
    }
  }
  &__value {
    font-size: 28px;
    margin-top: 6px;
    margin-bottom: 12px;
    line-height: normal;
  }
  &__currency {
    font-size: 14px;
    font-weight: $font-weight-semi-bold;
    line-height: normal;
  }
  &__converter {
    color: $quick-silver;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-sm;
    line-height: normal;
  }
}
