.quick-transfers {
  padding: 0 $padding-normal;
  &__fromto {
    display: flex;
    justify-content: space-between;
    margin-bottom: $padding-default;
  }
  &__from {
    width: 50%;
  }
  &__to {
    margin-left: $padding-normal;
    width: 50%;
  }
  &__btn {
    width: 100%;
    margin-top: $padding-normal;
    font-size: $font-size-md;
  }
}
