.button {
  padding: $padding-small;
  border-radius: 5px;
  text-align: center;
  transition: $transition-1;
  cursor: pointer !important;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: $white;
  font-size: $font-size-md;

  &__icon {
    margin-right: 10px;
  }

  &_disabled {
    cursor: not-allowed !important;
  }

  &_theme {
    &_primary {
      min-height: 48px;
      box-sizing: border-box;
      padding: $padding-default $padding-normal;
      color: $white;
      background: $primary;

      &:hover {
        background: darken($primary, 10%);
      }

      &:active {
        background: lighten($primary, 10%);
      }
    }

    &_white {
      min-height: 48px;
      padding: $padding-default $padding-normal;
      color: $text-grey-light;
      background: $white;

      &:hover {
        background: darken($white, 10%);
      }

      &:active {
        background: darken($white, 15%);
      }
    }

    &_secondary {
      min-height: 48px;
      color: $white;
      background: $secondary;
      box-sizing: border-box;

      &:hover {
        background: darken($secondary, 10%);
      }

      &:active {
        background: lighten($secondary, 10%);
      }
    }

    &_default {
      min-height: 48px;
      color: $quick-silver;
      background: $ghost-white;

      &:hover {
        background: darken($ghost-white, 10%);
      }

      &:active {
        background: lighten($ghost-white, 10%);
      }
    }

    &_danger {
      color: $white;
      background: $error;
      min-height: 48px;
      box-sizing: border-box;

      &:hover {
        background: darken($error, 10%);
      }

      &:active {
        background: lighten($error, 10%);
      }
    }

    &_gradient {
      min-height: 48px;
      color: $white;
      background: $primary-gradient-3;

      &:hover {
        filter: brightness(120%);
      }

      &:active {
        filter: brightness(90%);
      }
    }

    &_ghost {
      color: $primary;
      border: 1px solid $primary;
      padding: 8px $padding-default;

      &:hover {
        color: darken($primary, 20%);
        border-color: darken($primary, 20%);
      }

      &:active {
        color: lighten($primary, 20%);
        border-color: lighten($primary, 20%);
      }
    }
  }

  &_full {
    width: 100%;
  }
}
