.wallet-overview {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include size-md {
      flex-flow: row wrap;
    }
  }

  &__btn {
    min-height: 30px !important;
    font-size: 13px !important;
    padding: 6px 16px !important;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__total {
    .wallet-overview__item {
      text-align: left;
    }
    .wallet-overview__value {
      font-size: 38px;
    }

    @include size-md {
      margin-bottom: $padding-default;
      width: 100%;
    }
  }

  &__item {
    text-align: right;

    &:not(:last-child) {
      margin-right: $padding-big;
    }

    @include size-md {
      width: 100%;
      text-align: left;
      margin-top: $padding-default;
    }
  }

  &__symbol {
    font-weight: 500;
    font-size: 14px;
  }

  &__title {
    font-size: $font-size-sm;
    color: $text-grey-light;
    margin-bottom: 6px;
  }

  &__value {
    font-size: $font-size-title;

    &_positive {
      color: $success;
    }

    &_negative {
      color: $error;
    }
  }

  &__stats {
    display: flex;

    @include size-md {
      flex-flow: row wrap;
    }
  }

  &__chart {
    margin-top: $padding-medium;
    height: 275px;
  }
}
