.wallet-overview {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include size-md {
      flex-flow: row wrap;
    }
  }

  &__btn {
    min-height: 30px !important;
    font-size: 13px !important;
    padding: 6px 16px !important;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__total {
    .wallet-overview__item {
      text-align: left;

      @include size-md {
        width: 100%;
      }
    }
    .wallet-overview__value {
      font-size: 38px;

      @include size-md {
        font-size: $font-size-title;
      }
    }

    @include size-md {
      margin-bottom: $padding-default;
      width: 100%;
    }
  }

  &__item {
    text-align: right;

    &:not(:last-child) {
      margin-right: $padding-big;

      @include size-md {
        margin-right: 0;
      }
    }

    @include size-md {
      width: 50%;
      text-align: left;
    }
  }

  &__symbol {
    font-weight: 500;
    font-size: 14px;

    @include size-md {
      font-size: $font-size-xs;
    }
  }

  &__title {
    font-size: $font-size-sm;
    color: $text-grey-light;
    margin-bottom: 8px;

    @include size-md {
      font-size: $font-size-xs;
      font-weight: $font-weight-semi-bold;
    }
  }

  &__value {
    font-size: $font-size-title;

    @include size-md {
      font-size: $font-size-sm;
    }

    &_positive {
      color: $success;
    }

    &_negative {
      color: $error;
    }
  }

  &__stats {
    display: flex;

    @include size-md {
      flex-flow: row wrap;
      width: 100%;
      justify-content: space-between;
    }
  }

  &__chart {
    margin-top: $padding-medium;
    height: 275px;
  }

  &__controls {
    display: flex;

    @include size-md {
      margin-top: $padding-normal;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
    }
  }
}
