.settings-tabs {
  display: flex;
  align-items: center;
  position: relative;
  overflow: auto;
  margin: 0 -80px;
  padding: 0 80px;
  border-bottom: $card-border;

  &__item {
    padding: $padding-normal 35px;
    padding-top: $padding-micro;
    font-size: $font-size-widget;
    line-height: 21px;
    color: $text-grey-light;
    cursor: pointer;
    transition: $transition-1;
    text-align: center;
    white-space: nowrap;

    @include size-md {
      padding: 20px $padding-default;
      font-size: 14px;
      line-height: 17px;
      display: block;
    }

    &_active {
      color: $primary;

      @include size-md {
        font-weight: $font-weight-bold;
      }
    }

    &:hover {
      color: $royal-blue-darker;
    }

    &:active {
      color: $royal-blue-lighter !important;
    }
  }

  &__marker {
    height: 4px;
    background-color: $primary;
    position: absolute;
    bottom: 0px;
    transition: $transition-1;
    border-radius: $card-border-radius;
  }
}
