.general-stats {
  padding: $padding-max $padding-big;

  &__divider {
    width: 100%;
    height: 1px;
    background-color: $platinum;
    margin-bottom: 8px;
    margin-top: $padding-medium;
  }

  &__title {
    text-align: center;
    font-size: $font-size-max;
    margin-bottom: $padding-default;
    font-weight: $font-weight-light;
    width: 100%;
  }

  &__subtitle {
    text-align: center;
    font-size: $font-size-sm;
    color: $text-grey-light;
    font-weight: $font-weight-semi-bold;
    width: 100%;
  }

  &__data {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding: 0px $padding-small;

    &:last-child {
      margin-bottom: 0px;
    }

    &-item {
      display: flex;
      align-items: center;
      width: 50%;
      margin-top: $padding-medium;
    }

    &-icon {
      color: $text-grey-light;
      margin-right: $padding-small;
      font-size: 24px;
    }

    &-title {
      font-size: $font-size-md;
      margin-bottom: 8px;
    }

    &-subtitle {
      font-size: $font-size-xs;
      color: $text-grey-light;
    }
  }
}
