.general-stats {
  padding: $padding-max $padding-normal;

  &_gradient {
    background: $primary-gradient;

    .general-stats {
      &__title {
        color: $white;
      }

      &__subtitle {
        color: $white;
      }

      &__data {
        &-icon {
          color: $white;
        }

        &-title {
          color: $white;
        }

        &-subtitle {
          color: rgba($white, 0.75);
        }
      }
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background-color: $platinum;
    margin-bottom: 8px;
    margin-top: $padding-medium;
  }

  &__title {
    text-align: center;
    font-size: $font-size-max;
    margin-bottom: $padding-default;
    font-weight: $font-weight-light;
    width: 100%;
  }

  &__subtitle {
    text-align: center;
    font-size: $font-size-sm;
    color: $text-grey-light;
    font-weight: $font-weight-semi-bold;
    width: 100%;
  }

  &__data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px $padding-small;
    grid-column-gap: 20%;

    &:last-child {
      margin-bottom: 0px;
    }

    &-symbol {
      font-size: 8px;
    }

    &-item {
      display: flex;
      align-items: center;
      margin-top: $padding-medium;
    }

    &-icon {
      color: $text-grey-light;
      margin-right: $padding-small;
      font-size: 24px;
    }

    &-title {
      font-size: $font-size-md;
      margin-bottom: 8px;
    }

    &-subtitle {
      font-size: $font-size-xs;
      color: $text-grey-light;
    }
  }
}
