/*========== Custom Variable ==========*/

// App Global Font Size
$html-font-size: 16px;

//Default Colors
$white: #fff;
$black: #000;
$base: #f7f7fa;

//Primary Colors
$royal-blue: #5769df;
$toolbox: #7276c5;

//UI Colors
$mountain-meadow: #2bd289;
$jasper: #d63649;
$blush: #dd5e89;

//Neutral Colors
$ghost-white: #f8f8fb;
$platinum: #e1e1ed;
$quick-silver: #a2a5b9;
$darker: #4a4d5d;
$darkest: #363165;

//Theme colors
$primary: $royal-blue !default;
$secondary: $toolbox !default;
$accent-green: $mountain-meadow !default;
$accent-blush: $blush !default;
$success: #27ce60 !default;
$error: #fea0ae !default;

//App Theme Color
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'accent-green': $accent-green,
    'accent-blush': $accent-blush,
    'success': $success
  ),
  $theme-colors
);

// Setting for the Typography elements.
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem !default;
$font-size-md: 1.125rem !default;
$font-size-sm: 0.875rem !default;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

// App Text Scale
$text-grey-light: $quick-silver;
$text-grey-darker: $darker;
$text-grey-darkest: $darkest;

// Setting For Heading Element
$h1-font-size: 1.75rem !default; // 28px
$h2-font-size: 1.25rem !default; // 20px
$h3-font-size: 1.125rem !default; // 18x

//Shadows
$shadow-1: 1px 2px 18px rgba(113, 152, 180, 0.15);

//Transitions
$transition-1: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
$transition-2: 2s linear infinite;

// Settings for the `<body>` element.
$body-bg: $base;
$body-color: $text-grey-darker;
$font-family-base: 'Rubik', sans-serif;
$border-color: $platinum;

//Preloader
$preloader-icon-size: 48px;
$preloader-icon-color: $primary;

//Top bar
$topbar-height: 32px;

//Header bar
$headerbar-height: 80px;

//Navigation
$nav-width-collapsed: 72px;
$nav-width-expanded: 264px;
$nav-font-size: $font-size-md;
$nav-color-default: $text-grey-light;
$nav-color-active: $secondary;
$nav-weight-active: $font-weight-semi-bold;
$nav-item-height: 64px;
$nav-icon-size: 24px;

// App Custom Card
$card-bg: $white;
$card-border-radius: 7px;
$card-shadow: $shadow-1;
$card-border: 1px solid $platinum;

// Gradient Theme Color
$card-gradient: linear-gradient(172.89deg, $royal-blue 24.12%, #5fcff9 102.64%);
$orange-gradient: linear-gradient(90deg, $blush 0.24%, #f7bb97 97.08%);
$green-gradient: linear-gradient(132.02deg, #61e786 2.8%, #2ccb96 84.22%);

// App Spacing
$padding-small: 14px;
$padding-normal: 24px;
