/*========== Custom Variable ==========*/

// App Global Font Size
$html-font-size: 16px;

//Default Colors
$white: #fff;
$black: #000;
$base: #f7f7fa;

//Primary Colors
$royal-blue: #5769df;
$royal-blue-lighter: #7987e5;
$royal-blue-darker: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ),
  #5769df;

//Alert Colors
$mountain-meadow: #2bd289;
$jasper: #d63649;
$blush: #dd5e89;
$orange: #f4a271;

//Neutral Colors
$ghost-white: #f8f8fb;
$platinum: #e1e1ed;
$quick-silver: #a2a5b9;
$darker: #4a4d5d;
$darkest: #363165;

//Theme colors
$primary: $royal-blue !default;
$secondary: $royal-blue-lighter !default;
$primary-dark: $royal-blue-darker;
$success: $mountain-meadow !default;
$error: $jasper !default;
$error-light: $blush !default;

//App Theme Color
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'primary-dark': $primary-dark,
    'success': $success,
    'error': $error,
    'error-light': $error-light
  ),
  $theme-colors
);

// Setting for the Typography elements.
$font-size-xxs: 0.625rem !default; // 10px
$font-size-xs: 0.75rem !default; // 12px
$font-size-sm: 0.9375rem !default; // 15px
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-md: 1.125rem !default; // 18x
$font-size-lg: 1.25rem !default; // 20px
$font-size-llg: 2.125rem !default; //34px
$font-size-max: 4rem !default; // 64px

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

// App Text Scale
$text-grey-light: $quick-silver;
$text-grey-darker: $darker;
$text-grey-darkest: $darkest;

// Setting For Heading Element
$h1-font-size: 1.75rem !default; // 28px
$h2-font-size: 1.25rem !default; // 20px
$h3-font-size: 1.125rem !default; // 18x

//Shadows
$shadow-1: 1px 2px 18px rgba(113, 152, 180, 0.15);

// Gradient Theme Color
$primary-gradient: linear-gradient(
  172.89deg,
  $royal-blue 24.12%,
  #5fcff9 102.64%
);
$primary-gradient-2: linear-gradient(99.95deg, $primary 0.78%, #9f30e2 100.4%);
$orange-gradient: linear-gradient(90deg, $blush 0.24%, #f7bb97 97.08%);
$error-gradient: linear-gradient(114.68deg, $jasper 3.09%, #e33961 98.24%);
$green-gradient: linear-gradient(
  118.17deg,
  $mountain-meadow 2.8%,
  #22c2a6 84.22%
);
$dark-gradient: linear-gradient(
    161.03deg,
    rgba(0, 0, 0, 0.6) 1.31%,
    rgba(0, 0, 0, 0.2) 98.29%
  ),
  $primary;

// Transitions
$transition-1: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
$transition-2: 2s linear infinite;
$transition-3: 0.4s cubic-bezier(0.25, -0.25, 0.75, 1.25);

// Settings for the `<body>` element.
$body-bg: $base;
$body-color: $text-grey-darker;
$body-font: 'Rubik', sans-serif;

// App Spacing
$padding-micro: 12px;
$padding-small: 14px;
$padding-default: 16px;
$padding-normal: 24px;
$padding-medium: 40px;
$padding-big: 52px;
$padding-max: 64px;

// App Custom Card
$card-bg-default: $white;
$card-bg-primary: $primary-gradient;
$card-bg-success: $green-gradient;
$card-bg-error: $error-gradient;
$card-border-radius: 7px;
$card-shadow: $shadow-1;
$card-border: 1px solid $platinum;

// Top bar
$topbar-height: 32px;

// Navigation
$nav-width-collapsed: 72px;
$nav-width-expanded: 264px;
$nav-font-size: $font-size-md;
$nav-color-default: $text-grey-light;
$nav-color-active: $primary;
$nav-weight-active: $font-weight-semi-bold;
$nav-item-height: 64px;
$nav-icon-size: 24px;
$nav-marker-border-radius: 7px;
