.content {
  padding-top: calc(#{$topbar-height} + #{$headerbar-height});
  padding-left: $nav-width-collapsed;
  transition: $transition-1;

  &_collapsed {
    padding-left: $nav-width-expanded;
  }

  &_overflow {
    height: calc(100vh - #{$topbar-height} - #{$headerbar-height});
    overflow: hidden;
  }
}
