/*========== Body ==========*/

html {
  overflow-x: hidden;
}

body {
  background-color: $body-bg;
  color: $body-color;
  * {
    line-height: normal;
    font-family: $body-font;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.img {
  &_responsive {
    max-width: 100%;
    height: auto;
  }
}

.overflow-x {
  overflow-x: auto;
  grid-column: span 12;
}

.scroll {
  &__horizontal {
    &_container {
      transform: rotate(-90deg);
    }

    &_content {
      transform: rotate(90deg);
    }
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
  transition: $transition-1;

  @include size-md {
    width: 0px;
    height: 0px;
  }
}

::-webkit-scrollbar-thumb {
  background-color: $darker;
  border-radius: $card-border-radius;
  transition: $transition-1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $quick-silver;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px $quick-silver;
  border-radius: $card-border-radius;
  transition: $transition-1;
}

/*========== Typography ==========*/

h1 {
  font-size: $h1-font-size;
  font-weight: bold;
  line-height: 29px;
}

h2 {
  font-size: $h2-font-size;
  font-weight: normal;
  line-height: 24px;
}

h3 {
  font-size: $h3-font-size;
  font-weight: 600;
  line-height: 20px;
}

/*========== Page ==========*/

.page {
  &-navigation {
    &__pagination {
      display: flex;
    }
  }

  &__title {
    margin-bottom: $padding-normal;

    @include size-md {
      display: none;
    }
  }

  &__account-settings {
    margin-top: 50px;
  }

  &__node-manager {
    padding: 40px 80px 0px 80px;

    @include size-md {
      padding: $padding-normal $padding-default;
      padding-bottom: 0;
    }

    margin: 0 auto;
    background-color: $white;

    &-left {
      display: flex;
      align-items: center;

      h1 {
        @include size-md {
          font-size: $font-size-base;
        }
      }
    }

    &-mobile {
      &-controls {
        @include size-md {
          display: flex;
        }
      }
    }

    &-btn {
      @include size-md {
        font-size: $font-size-xs !important;
        padding: $padding-micro $padding-default !important;
        min-height: 36px !important;

        &:first-child {
          margin-right: 8px;
        }
      }
    }

    &-right {
      display: grid;
      grid-gap: $padding-default;
      grid-template-columns: repeat(3, max-content);

      @include size-md {
        display: none;
      }
    }

    &-heading {
      display: flex;
      align-items: center;
      padding-bottom: 40px;
      position: relative;
      justify-content: space-between;

      @include size-md {
        flex-flow: row wrap;
        padding-bottom: $padding-normal;
      }

      &:after {
        content: '';
        display: block;
        width: 48px;
        height: 2px;
        border-radius: 10px;
        background-color: $platinum;
        position: absolute;
        bottom: 0;
      }

      h1 {
        margin-right: $padding-default;
      }
    }
  }

  &__wallet-tracker {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    &-wrapper {
      grid-column: span 9;

      @include size-md {
        grid-column: span 12;
      }
    }

    &-scroll {
      display: flex;
      align-items: center;
      position: relative;
      overflow: auto;
      grid-column: span 12;
    }

    &-heading {
      display: flex;
      grid-column: span 12;
      align-items: center;

      @include size-md {
        justify-content: space-between;
      }
    }

    &-title {
      flex: none;
    }

    &-navigation {
      margin: 0 $padding-default;
    }
  }
}

/*========== Card ==========*/

.card-header {
  padding: $padding-normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &_border {
    padding: 0;
    padding-bottom: calc(#{$padding-normal} + 1px);

    &:after {
      content: '';
      position: absolute;
      display: block;
      height: 1px;
      width: calc(100% + 24px * 2);
      background: $platinum;
      bottom: 0;
      left: -24px;
    }
  }

  @include size-md {
    padding: $padding-default;
  }

  &__counter {
    margin-left: $padding-medium;
    color: $primary;
    font-size: $font-size-md;
    font-weight: $font-weight-semi-bold;

    @include size-md {
      display: none;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__navigation {
    margin-right: $padding-default;
    padding-right: $padding-default;
    border-right: $card-border;
  }

  &__viewAll {
    text-align: right;
    color: $primary;
    font-size: $font-size-sm;
    cursor: pointer;
    transition: $transition-1;
    text-decoration: none;

    @include size-md {
      display: none;
    }

    &:hover {
      color: $secondary;
    }
  }
}

.card-footer {
  padding-top: $padding-default;
  text-align: center;
  color: $primary;
  transition: $transition-1;
  box-sizing: border-box;
  display: none;
  border-top: $card-border;
  width: calc(100% + 32px);
  position: relative;
  left: -16px;

  @include size-md {
    display: block;
  }

  &:hover {
    color: $secondary;
  }
}

.card {
  &__stats {
    display: none;
    padding: 0 $padding-default;
    margin-top: 8px;
    margin-bottom: $padding-normal;

    @include size-md {
      display: block;
    }

    &-title {
      color: $text-grey-light;
      font-size: $font-size-xs;
      font-weight: $font-weight-semi-bold;
      margin-bottom: 8px;
    }

    &-value {
      font-size: $font-size-title;
    }
  }
}

/*========== Text ==========*/

.text {
  &_color {
    &_grey {
      color: #888;
    }
  }

  &_align {
    &_right {
      text-align: right !important;
    }

    &_left {
      text-align: left !important;
    }

    &_center {
      text-align: center !important;
    }
  }

  &_wrap {
    &_none {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &_link {
    color: $primary;
    transition: $transition-1;

    &:hover {
      color: $secondary;
    }

    &:active {
      color: darken($primary, 10%);
    }
  }
}

/*========== Table ==========*/

.table,
table {
  font-size: $table-fz;
  width: 100%;
  background: $white;

  @include size-md {
    font-size: 13px;
  }

  &__header,
  thead {
    background: $table-header-bg;
    border-top: $card-border;
    border-bottom: $card-border;
  }

  &__row,
  tr {
    &:not(:last-child) {
      border-bottom: $card-border;
    }
  }

  &__title,
  th {
    color: $table-header-color;
    font-weight: $font-weight-semi-bold;
    padding: $table-header-padding;
    text-align: left;

    @include size-md {
      padding: $padding-micro $padding-default;
    }
  }

  &__item,
  td {
    padding: $table-item-padding;
    position: relative;

    @include size-md {
      padding: $padding-default;
    }

    &_link {
      transition: $transition-1;
      color: $table-item-link-color;
      cursor: pointer;

      &:hover {
        opacity: 0.75;
      }
    }

    &_overflow {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &_positive {
      color: $success;
    }

    &_negative {
      color: $error;
    }
  }
}

.switcher {
  display: flex;
  position: relative;

  &__btn {
    width: $switcher-marker-width;
    padding: $switcher-padding 0px;
    text-align: center;
    cursor: pointer;
    font-size: $switcher-fz;
    font-weight: $font-weight-semi-bold;
    color: $switcher-active-color;
    transition: $transition-1;
    line-height: normal;
    opacity: 0.5;

    &_active {
      opacity: 1 !important;
    }

    &:hover {
      opacity: 0.75;
    }
  }

  &__marker {
    width: $switcher-marker-width;
    height: $switcher-marker-height;
    background-color: $switcher-marker-color;
    position: absolute;
    left: 0px;
    transition: $transition-1;
    border-radius: $switcher-marker-br;
  }
}

.divider {
  flex: 1;
  height: 1px;
  background-color: $platinum;
  margin-right: $padding-normal;

  @include size-md {
    margin-right: 0;
  }
}

/*========== Mobile ==========*/
.mobile {
  &-back {
    display: flex;
    align-items: center;
    color: $text-grey-light;
    font-weight: $font-weight-semi-bold;
    cursor: pointer;
    transition: $transition-1;
    margin-bottom: 36px;

    &:hover {
      opacity: 0.5;
    }

    &__icon {
      margin-right: 8px;
      transform: rotateY(180deg);

      path {
        fill: $text-grey-light;
      }
    }
  }
}

/*========== Modals ==========*/

.modal {
  &-wrapper {
    overflow: hidden;
    overflow-y: scroll;
    position: fixed;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: block;
    background: rgba(9, 14, 47, 0.24);
    transition: $transition-1;
    z-index: 100;

    @include size-md {
      position: fixed;
      bottom: 0;
    }
  }

  &-dialog {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    @include size-md {
      align-items: flex-end;
    }
  }

  &-form {
    border-radius: $card-border-radius;
    box-shadow: $shadow-2;
    background-color: $white;
    padding: 32px;
    width: 640px;
    margin: $padding-normal auto;
    position: relative;

    @include size-md {
      width: 100%;
      margin: 0;
      border-radius: $padding-normal $padding-normal 0 0;
      padding: $padding-normal $padding-default;
    }

    &_blured {
      filter: blur(5px);
    }
  }

  &__loading-overlay {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    height: 100%;
    width: 100%;

    @include size-md {
      padding: $padding-normal $padding-default;
    }

    &-text {
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__heading {
    line-height: 14px;
    letter-spacing: 0.03em;
    font-weight: bold;
    color: $text-grey-light;
    font-size: $font-size-xs;
  }

  &-list {
    width: 100%;
    margin-top: $padding-normal;

    &__item {
      @include size-md {
        word-break: break-all;
      }

      &_error {
        color: $error;
      }

      &_success {
        color: $success;
      }
    }
  }

  &__qr {
    margin: 0 auto;
    padding-bottom: $padding-default;
  }

  &-switch {
    display: flex;
    align-items: center;

    &__button {
      font-weight: bold;
      color: $text-grey-light;
      font-size: $font-size-widget;
      padding-bottom: 4px;
      border-bottom: 3px solid transparent;
      transition: $transition-1;
      cursor: pointer;

      @include size-md {
        font-size: $font-size-base;
      }

      &_active {
        border-color: $primary;
        color: $primary;
      }

      &:hover {
        color: $primary;
      }

      &:not(:last-child) {
        margin-right: $padding-normal;
      }
    }
  }

  &__close {
    color: $text-grey-light;
    cursor: pointer;

    &:hover {
      color: $secondary;
    }

    &:active {
      color: $primary;
    }
  }

  &__title {
    line-height: 29px;
    letter-spacing: 0.03em;
    font-size: $font-size-title;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 32px;

    @include size-md {
      margin-bottom: $padding-normal;
      word-break: break-all;
    }
  }

  &__body {
    display: flex;
    margin-top: $padding-normal;

    .overflow-x {
      @include size-md {
        max-width: 100%;
      }
    }

    @include size-md {
      flex-direction: column;
    }

    &-title {
      margin-bottom: $padding-normal;
      width: 100%;
    }

    &_wrap {
      flex-flow: row wrap;

      @include size-md {
        flex-flow: column wrap;
      }
    }
  }

  &__message {
    width: 100%;

    @include size-md {
      word-break: break-word;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: $padding-medium;
    align-items: center;
    position: relative;

    &_no-margin {
      margin: 0;
    }

    @include size-md {
      margin-top: $padding-normal;
    }

    &-button {
      &:not(:last-child) {
        margin-right: $padding-default;
      }
    }

    &-loader {
      position: absolute;
      left: 0;
      font-size: 24px;
      color: $primary;
      animation: Spin 2.5s infinite;
      opacity: 0;

      &_static {
        position: relative;
        margin-bottom: $padding-micro;
      }

      &_visible {
        opacity: 1;
      }
    }
  }

  &-radio {
    &__group {
      @include size-md {
        margin: $padding-default 0;
      }
    }

    &__item {
      @include size-md {
        height: unset;
      }
    }
  }

  &-input {
    flex: 1;
    position: relative;

    &_flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-right: 0 !important;
    }

    &__action {
      position: absolute;
      right: $padding-default;
      top: 18px;
      cursor: pointer;
      transition: $transition-1;
      background: $white;

      &:hover {
        color: $primary;
      }

      &:active {
        color: $secondary;
      }
    }

    &_full {
      flex: auto;
      width: 100%;
      margin-bottom: $padding-normal;
    }

    &:first-child {
      margin-right: $padding-default;

      @include size-md {
        margin-right: 0;
      }
    }

    &__label {
      line-height: 18px;
      color: $text-grey-light;
      font-weight: 500;
      font-size: $font-size-sm;

      &_flex {
        min-width: 150px;
      }
    }

    &__wrapper {
      margin-top: 8px;
      box-sizing: border-box;
      position: relative;

      &_flex {
        flex: 1;
        margin-left: $padding-default;
      }
    }

    &__alert {
      font-size: $font-size-sm;
      line-height: 18px;
      min-height: 18px;
      transition: $transition-1;
      opacity: 0;
      margin-top: 8px;
    }

    &__control {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      box-sizing: border-box;
      width: 100% !important;
      border-radius: 4px;
      padding: $padding-default;
      border: $card-border;
      outline: none;
      transition: $transition-1;
      resize: none;

      &_textarea {
        min-height: 180px;
      }

      &:focus {
        border-color: $primary;
      }

      &_readonly {
        background: rgba(238, 238, 238, 0.7) !important;
        border-color: $platinum !important;
        color: $quick-silver;
      }
    }

    &__icon {
      border: 4px solid $white;
      font-size: 14px;
      height: 24px;
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      color: $white;
      background-color: transparent;
      opacity: 0;
      transition: $transition-1;
      position: absolute;
      top: 10px;
      right: calc(#{$padding-default} - 4px);
    }

    &_error {
      .modal-input {
        &__control {
          border-color: $error;
          color: $error;
        }

        &__alert {
          opacity: 1;
          color: $error;
        }

        &__icon {
          opacity: 1;
          background-color: $error;
        }
      }
    }

    &_success {
      .modal-input {
        &__control {
          border-color: $success;
          color: $success;
        }

        &__alert {
          opacity: 1;
          color: $success;
        }

        &__icon {
          opacity: 1;
          background-color: $success;
        }
      }
    }
  }
}

/*========== Transitions ==========*/

.fade-enter-active,
.fade-leave-active {
  transition: $transition-1;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
