.node-manager {
  grid-column: span 12;
  width: 100%;
  position: relative;

  &__wrapper {
    box-shadow: $shadow-1;
    border-radius: $card-border-radius;
  }

  &__label {
    color: $primary;
  }

  &__actions {
    &:hover {
      color: $primary;
    }

    font-size: 24px;
    cursor: pointer;
    color: $text-grey-light;
    transition: $transition-1;
    position: relative;

    &-modal {
      transition: $transition-1;
      opacity: 0;
      position: absolute;
      right: -16px;
      top: -14px;
      border-radius: 4px;
      background-color: $white;
      box-shadow: $shadow-2;
      padding: $padding-small;
      visibility: hidden;
      cursor: pointer;

      &_visible {
        opacity: 1;
        visibility: visible;
      }
    }

    &-item {
      display: flex;
      align-items: center;

      &:hover {
        color: $secondary;
      }

      &:active {
        color: $primary;
      }

      &:not(:last-child) {
        margin-bottom: $padding-small;
      }
    }

    &-title {
      font-size: $font-size-xs;
      line-height: 14px;
      transition: $transition-1;
    }

    &-icon {
      margin-right: 10px;
      color: $text-grey-light;
    }

    &:hover {
      color: $primary;
    }
  }

  td {
    padding: $padding-normal;
    vertical-align: middle;

    &:first-child {
    }

    &:last-child {
      text-align: center;
    }
  }

  th {
    transition: $transition-1;
    cursor: pointer;
    vertical-align: middle;

    &:first-child {
      width: 1%;
    }

    &:last-child {
      text-align: center;
    }

    &:hover {
      color: $darker;
    }
  }

  &_state {
    &_offline {
      border-left: 4px solid $error;
      background: $table-row-offline;
      color: $text-grey-light;
    }
  }

  &__sort {
    &_active {
      color: $darker;
      position: relative;

      .node-manager__sort-icon {
        display: inline-block;
      }
    }

    &-icon {
      right: -20px;
      position: absolute;
      margin-left: $padding-micro;
      display: none;
      top: 3px;
    }

    &-title {
      position: relative;
    }
  }
}
