.node-manager {
  grid-column: span 12;
  width: 100%;
  position: relative;
  box-shadow: $shadow-1;
  border-radius: $card-border-radius;

  &__label {
    color: $primary;
  }

  &__actions {
    font-size: 24px;
    cursor: pointer;
    color: $text-grey-light;
    transition: $transition-1;

    &:hover {
      color: $primary;
    }
  }

  td {
    padding: $padding-normal;

    &:first-child {
      vertical-align: middle;
    }

    &:last-child {
      text-align: center;
    }
  }

  th {
    transition: $transition-1;
    cursor: pointer;

    &:first-child {
      vertical-align: middle;
      width: 1%;
    }

    &:last-child {
      text-align: center;
    }

    &:hover {
      color: $darker;
    }
  }

  &_state {
    &_offline {
      border-left: 4px solid $error;
      background: $table-row-offline;
      color: $text-grey-light;
    }
  }

  &__sort {
    &_active {
      color: $darker;
      position: relative;

      .node-manager__sort-icon {
        display: inline-block;
      }
    }

    &-icon {
      right: -20px;
      position: absolute;
      margin-left: $padding-micro;
      display: none;
      top: 3px;
    }

    &-title {
      position: relative;
    }
  }
}
