.node-manager {
  grid-column: span 12;
  width: 100%;

  &__label {
    color: $primary;
  }

  &__actions {
    font-size: 24px;
    cursor: pointer;
    color: $text-grey-light;
    transition: $transition-1;

    &:hover {
      color: $primary;
    }
  }

  table {
    box-shadow: $shadow-1;
    border-radius: $card-border-radius;
  }

  td {
    padding: $padding-normal;

    &:first-child {
      vertical-align: middle;
    }

    &:last-child {
      text-align: center;
    }
  }

  th {
    transition: $transition-1;
    cursor: pointer;

    &:first-child {
      vertical-align: middle;
      width: 1%;
    }

    &:last-child {
      text-align: center;
    }

    &:hover {
      color: $darker;
    }
  }

  &_state {
    &_offline {
      border-left: 4px solid $error;
      background: $table-row-offline;
      color: $text-grey-light;
    }
  }

  .VueTables {
    &__sortable {
      cursor: pointer;
      position: relative;
    }

    &__sort-icon {
      margin-left: $padding-micro;
      top: 14px;
      position: absolute;
    }

    &__search-field {
      margin-bottom: $padding-normal;
      width: 100%;
    }
  }
}
