.btn {
  border: $btn-border-default;
  border-radius: $btn-br;
  cursor: pointer;
  position: relative;
  &_size {
    &_default {
      padding: $btn-padding-default;
      font-size: $btn-fz-default;
    }
    &_small {
      padding: $btn-padding-small;
      font-size: $btn-fz-small;
    }
    &_widget {
      padding: $btn-padding-widget;
      font-size: $btn-fz-widget;
    }
  }
  &_type {
    &_default {
      color: $btn-color-default !important;
      border-color: transparent !important;
      &:disabled {
        cursor: not-allowed;
        color: $btn-color-disabled !important;
        border-color: $btn-disabled;
        background-color: $btn-disabled !important;
        &:before {
          color: $btn-color-disabled !important;
        }
      }
      &:before {
        color: $btn-color-default !important;
      }
    }
    &_outline {
      background-color: transparent !important;
      &:disabled {
        cursor: not-allowed;
        color: $btn-color-disabled;
        border-color: $btn-disabled;
        &:before {
          color: $btn-color-disabled !important;
        }
      }
    }
  }
  &_theme {
    &_default {
      color: $btn-default-color !important;
      background-color: $btn-default;
      border-color: $btn-default;
    }
    &_primary {
      color: $btn-primary;
      background-color: $btn-primary;
      border-color: $btn-primary;
    }
    &_secondary {
      color: $btn-secondary;
      background-color: $btn-secondary;
      border-color: $btn-secondary;
    }
    &_primary-gradient {
      background: $btn-primary-gradient;
      border: 0 !important;
    }
    &_success {
      color: $btn-success;
      background-color: $btn-success;
      border-color: $btn-success;
      &:before {
        font-family: "Feather" !important;
        speak: none;
        font-weight: $font-weight-bold;
        font-style: normal;
        -webkit-font-feature-settings: normal;
        font-feature-settings: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e92b";
        display: inline-block;
        position: absolute;
        color: $btn-success;
        margin-top: 2px;
        left: 20px;
      }
    }
    &_error {
      color: $btn-error;
      background-color: $btn-error;
      border-color: $btn-error;
      &:before {
        font-family: "Feather" !important;
        speak: none;
        font-weight: $font-weight-bold;
        font-style: normal;
        -webkit-font-feature-settings: normal;
        font-feature-settings: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\ea02";
        display: inline-block;
        position: absolute;
        color: $btn-error;
        margin-top: 2px;
        left: 20px;
      }
    }
  }
  &_icon {
    &_plus {
      &:before {
        font-family: "Feather" !important;
        speak: none;
        font-style: normal;
        -webkit-font-feature-settings: normal;
        font-feature-settings: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e9b1";
        display: inline-block;
        margin-right: 6px;
      }
    }
    &_report {
      &:before {
        font-family: "Feather" !important;
        speak: none;
        font-style: normal;
        -webkit-font-feature-settings: normal;
        font-feature-settings: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e964";
        display: inline-block;
        margin-right: 6px;
      }
    }
    &_chart {
      &:before {
        font-family: "Feather" !important;
        speak: none;
        font-style: normal;
        -webkit-font-feature-settings: normal;
        font-feature-settings: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e91b";
        display: inline-block;
      }
    }
  }
}
