.card {
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;
  background: $card-bg-default;
  margin: $half-gutter-width;
  &_primary {
    background: $card-bg-primary;
  }
  &_success {
    background: $card-bg-success;
  }
  &_error {
    background: $card-bg-error;
  }
}
