/*========== Control Label ==========*/
.control {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
  }
  &__label {
    font-size: 13px;
    color: $text-grey-light;
    font-weight: $font-weight-semi-bold;
    line-height: normal;
  }
  &__tooltip {
    font-size: 13px;
    color: $white;
    font-weight: $font-weight-semi-bold;
    line-height: normal;
  }
}

/*========== Input ==========*/
.input {
  display: flex;
  align-items: center;
  border-radius: $input-br;
  line-height: normal;
  position: relative;
  overflow: hidden;
  &_theme_dark {
    background: $input-dark-bg;
    color: $input-dark-color;
  }
  &__control {
    border: 0;
    margin: 0;
    padding: $input-padding;
    font-size: $input-fz;
    line-height: normal;
    font-family: $font-family-base;
    background: transparent;
    color: inherit;
    z-index: 1;
    flex: 1;

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &__label {
    font-size: 14px;
    opacity: 0.5;
    border-left: 1px solid $secondary;
    right: 0px;
    height: 100%;
    padding: $input-padding;
    user-select: none;
    z-index: 2;
  }
}

/*========== Select ==========*/
.select {
  padding: $select-padding;
  border-radius: $select-br;
  cursor: pointer;
  a {
    padding: $select-padding !important;
  }
  .dropdown-menu {
    padding: 0 !important;
    .highlight {
      a {
        background: $ghost-white !important;
        color: $text-grey-darker !important;
      }
    }
  }
  .clear {
    display: none;
  }
  .dropdown-toggle {
    border: 0 !important;
    border-radius: 0 !important;
    cursor: pointer !important;
    padding: 0 !important;
  }
  &.open {
    .open-indicator {
      &:before {
        transform: scale(-1) !important;
      }
    }
  }
  .selected-tag {
    margin: 0 !important;
    position: relative !important;
    line-height: normal !important;
    padding: 0 !important;
  }
  .open-indicator::before {
    border: none !important;
    transform: none !important;
    height: auto !important;
    width: auto !important;
  }
  input {
    cursor: pointer;
    margin: 0 !important;
  }
  input[type="search"] {
    display: none !important;
  }
  //Custom themes
  &_theme {
    &_dark {
      background: $select-dark-bg;
      color: $select-dark-color;
      .selected-tag {
        color: $select-dark-color !important;
        font-size: $select-fz !important;
      }
      .open-indicator::before {
        font-family: "Feather" !important;
        content: "\e92e" !important;
        border-color: $select-dark-arrow !important;
      }
    }
  }
}
