.headerbar {
  height: $headerbar-height;
  background-color: $card-bg;
  box-shadow: $card-shadow;
  width: 100%;
  padding: $padding-small $padding-normal;
  max-height: 72px;
  &-toggle{
    cursor: pointer;
  }
}
