.headerbar {
  height: $headerbar-height;
  background-color: $card-bg-default;
  box-shadow: $card-shadow;
  width: 100%;
  padding: $padding-small $padding-normal;
  max-height: 72px;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  &__search-input {
    height: 45px;
    flex: 1;
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid $platinum;
    color: $quick-silver;
    background: $ghost-white;
    &::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: $quick-silver;
    }
    &:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: $quick-silver;
      opacity: 1;
    }
    &::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: $quick-silver;
      opacity: 1;
    }
    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $quick-silver;
    }
    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $quick-silver;
    }

    &::placeholder {
      /* Most modern browsers support this now. */
      color: $quick-silver;
    }
  }
  &__item {
    line-height: 45px;
    margin-right: 25px;
    &:last-child {
      margin-right: 0px;
    }
  }
  &__toggle {
    svg {
      height: 50px;
      path {
        fill: none;
        transition: stroke-dashoffset $transition-3,
          stroke-dasharray $transition-3;
        stroke-width: 20px;
        stroke-linecap: round;
        stroke: $quick-silver;
        stroke-dashoffset: 0px;
        &#top,
        &#bottom {
          stroke-dasharray: 240px 950px;
        }
        &#middle {
          stroke-dasharray: 180px 240px;
        }
      }
    }
    &.cross path {
      &#top,
      &#bottom {
        stroke-dashoffset: -650px;
        stroke-dashoffset: -650px;
      }
      &#middle {
        stroke-dashoffset: -115px;
        stroke-dasharray: 1px 220px;
      }
    }
    cursor: pointer;
  }
  &__button {
    background: transparent;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: $quick-silver;
    &:hover {
      cursor: pointer;
      background: $ghost-white;
    }
  }
}
