.node-manager {
  &__top {
    background: $white;
    margin: -2rem -3rem;
    padding: 2rem 3rem;
    padding-top: 40px;
  }
  &__header {
    padding-bottom: 40px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      display: inline-block;
      height: 2px;
      border-radius: 16px;
      background-color: $platinum;
      width: 48px;
    }
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__title {
    font-size: $node-manager-title-fz;
    font-weight: $font-weight-semi-bold;
  }
  &__status {
    margin-left: $padding-normal;
    color: $text-grey-light;
    font-size: $node-manager-status-fz;
  }
  &__indicator {
    margin-right: 5px;
    border-radius: 100%;
    height: 5px;
    display: inline-block;
    width: 5px;
    &_positive {
      border: 3px solid rgba($accent-green, 0.5);
      background: $accent-green;
      box-shadow: 0 0 0 3px rgba($accent-green, 0.25);
      -webkit-background-clip: padding-box; /* for Safari */
      background-clip: padding-box;
    }
    &_negative {
      border: 3px solid rgba($error, 0.5);
      background: $error;
      box-shadow: 0 0 0 3px rgba($error, 0.25);
      -webkit-background-clip: padding-box; /* for Safari */
      background-clip: padding-box;
    }
  }
}
