.country-list {
  &__header {
    padding: $padding-normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__counter {
    margin-left: $padding-medium;
    color: $primary;
    font-size: $font-size-md;
    font-weight: $font-weight-semi-bold;
  }
  &__all {
    text-align: right;
    color: $primary;
    font-size: $font-size-sm;
    cursor: pointer;
    transition: $transition-1;
    &:hover {
      color: $secondary;
    }
  }
  &__heading {
    background: $ghost-white;
    padding: $padding-small $padding-normal;
    border-top: $card-border;
    border-bottom: $card-border;
    display: flex;
    font-size: 13px;
    font-weight: $font-weight-semi-bold;
    color: $text-grey-light;
  }
  &__item {
    display: flex;
    padding: $padding-default $padding-normal;
    align-items: center;
    &:not(:last-child) {
      border-bottom: $card-border;
    }
  }
  &__country {
    display: flex;
    align-items: center;
    font-size: $font-size-sm;
    height: 32px;
  }
  &__country-name {
    margin-left: $padding-small;
  }
  &__stats {
    display: flex;
    align-items: center;
  }
  &__chart {
    background: $secondary;
    height: 8px;
    border-radius: 16px;
    margin-right: $padding-default;
  }
  &__value {
    font-size: 13px;
  }
  &__network {
    font-size: 13px;
  }
}
