.node-provider {
  padding: $padding-normal;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-bottom: 32px;
  }
}
.provider-top {
  padding: $padding-normal;
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: $text-grey-light;
    font-weight: $font-weight-semi-bold;
    margin-bottom: $padding-default;
  }
  &__icon {
    height: 48px;
    width: 48px;
    border: $card-border;
    border-radius: 16px;
    margin-right: $padding-normal;
  }
  &__item {
    display: flex;
    padding: 8px 0;
    border-bottom: 1px solid $ghost-white;
    &:last-child {
      border: none;
    }
  }
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 13px;
    color: $text-grey-darker;
  }
  &__stats {
    width: calc(100% - 64px);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
  }
  &__bar {
    height: 6px;
    border-radius: 1em;
    background: $secondary;
  }
}
