.avatar-dropdown {
  z-index: 10;
  position: relative;

  &__avatar {
    height: 40px;
    width: 40px;
    border-radius: 50px;
  }

  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;

    i {
      margin-left: 5px;
      font-size: 1.25em;
      color: $quick-silver;
    }
  }

  &__menu {
    position: absolute;
    background-color: $white;
    right: 0;
    border-style: solid;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: $shadow-2;
    border-radius: $card-border-radius;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      border-style: solid;
      list-style-type: none;
      transition: $transition-1;

      &:not(:last-child) {
        border-style: solid;
        border-color: $quick-silver;
        border-width: 1px;
        border-left-width: 0;
        border-top-width: 0;
        border-right-width: 0;
      }
    }
  }

  &__dd-link {
    padding: 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in;
    opacity: 1;
    transition: opacity 0.15s ease-in;
    width: 100%;
    height: 100%;
    display: inline-flex;
    &:hover {
      color: $primary;
    }

    &:active {
      color: $secondary;
    }
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.2s ease;
}

.slide-fade-enter {
  transform: translateY(-50px);
  opacity: 0;
}

.slide-fade-leave-to {
  transform: translateY(-50px);
  opacity: 0;
}
