.node-status {
  display: flex;
  align-items: center;

  @include size-md {
    font-size: $font-size-xs;
  }

  &_state {
    &_syncing {
      color: $orange;
    }

    &_mining {
      color: $success;
    }

    &_error {
      color: $error;
    }

    &_offline {
      color: $quick-silver;
    }
  }

  &__icon {
    padding-right: $padding-small;

    @include size-md {
      padding-right: 8px;
    }
  }
}
