.wallet-panel {
  padding: $padding-normal $padding-normal $padding-normal $padding-medium;
  background: $walletpanel-bg;
  color: $walletpanel-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 100%;

  @include size-lg {
    flex-flow: row wrap;
  }

  &__label {
    font-size: $font-size-sm;
    font-weight: $font-weight-semi-bold;
    opacity: 0.75;
    line-height: normal;
  }

  &__value {
    font-size: 38px;
    margin: 4px 0px;
    line-height: normal;
  }

  &__currency {
    font-size: 14px;
    font-weight: $font-weight-semi-bold;
  }

  &__address {
    font-size: 14px;
    line-height: normal;
    cursor: pointer;

    i {
      margin-left: 10px;
      transition: $transition-1;
    }

    &:hover {
      i {
        transform: translateX(5px);
      }
    }

    &:active {
      i {
        opacity: 0.5;
      }
    }
  }

  &__right {
    display: flex;
    height: 100%;

    @include size-lg {
      margin-top: $padding-default;
    }
  }

  &__button {
    width: $walletpanel-btn-width;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    background: $walletpanel-btn-bg;
    border-radius: $card-border-radius;
    cursor: pointer;
    transition: $transition-1;
    font-size: $font-size-sm;
    line-height: normal;
    padding: $padding-normal 0;

    &:hover {
      background: $walletpanel-btn-hover-bg;
    }

    &:active {
      background: $walletpanel-btn-active-bg;
    }

    &:not(:last-child) {
      margin-right: $padding-default;
    }

    &_more {
      width: $walletpanel-btn-more-width;
    }
  }

  &__icon {
    font-size: $walletpanel-icon-size;
    line-height: normal;
    margin-bottom: 10px;

    &_more {
      margin-bottom: 0;
    }
  }
}
