.fast-deploy {
  &__form {
    width: 572px;

    @include size-md {
      width: 100%;
    }
  }

  &__count {
    margin-top: $padding-normal;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include size-sm {
      flex-flow: row wrap;
    }
  }

  &__number {
    margin-right: $padding-medium !important;

    @include size-sm {
      width: 100%;
      margin-right: 0 !important;
    }
  }

  &__name {
    &:not(:first-child) {
      margin-top: $padding-default;
    }
  }

  &__reminder {
    color: $orange;
    font-size: $font-size-sm;
  }

  &__scroll {
    max-height: 210px;
    overflow-y: auto;

    @include size-sm {
      width: 100%;
      margin-top: $padding-default;
    }
  }
}
