.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size-sm;

  &__title {
    letter-spacing: 0.06em;
    font-weight: bold;
    text-transform: uppercase;
    display: none;
  }

  &__button {
    font-size: $font-size-sm;
    cursor: pointer;
    background-color: transparent;
    padding: $padding-default;
    outline: none;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: $transition-1;
    display: flex;
    justify-content: space-between;

    &_modal {
      max-height: 49px;
      border-radius: $card-border-radius;
      padding: $padding-default;
    }

    &:hover {
      border-color: $primary;
    }

    &_active {
      border-color: $primary;
      color: $primary;
    }
  }

  &__icon {
    margin-left: 20px;
    transition: $transition-1;

    &_open {
      transform: scaleY(-1);
      color: $primary;
    }
  }

  &__wrapper {
    min-width: 140px;
    box-sizing: border-box;
    position: relative;

    &_modal {
      margin-top: $padding-micro;
    }
  }

  &__list {
    position: absolute;
    top: 62px;
    left: 0;
    z-index: 3;
    background: $white;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition: $transition-1;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: $font-size-sm;

    &_modal {
      top: 54px;
      border-radius: $card-border-radius;
      padding: $padding-default 0;
    }

    &_open {
      visibility: visible;
      opacity: 1;
      padding: 12px 0;
    }
  }

  &__item {
    padding: $padding-xs $padding-default;
    transition: $transition-1;
    cursor: pointer;

    &_modal {
      padding: $padding-xs $padding-default;
    }

    &:hover {
      color: $primary;
    }
  }
}
