.country-list {
  &__flag {
    position: absolute;
    top: 8px;
    border-radius: 26px;
  }

  &__country {
    max-width: 50px;
    overflow: hidden;
  }

  &__percentage {
    display: inline-block;
    height: 8px;
    background-color: $secondary;
    border-radius: 100px;
    margin-right: 14px;
    max-width: 80%;

    @include size-md {
      display: block;
      height: 4px;
      margin-top: $padding-default;
    }
  }
}
