.country-list {
  &__flag {
    position: absolute;
    top: -9px;
    border-radius: 26px;
  }

  &__country {
    max-width: 50px;
    overflow: hidden;
  }

  &__percentage {
    display: inline-block;
    height: 8px;
    background-color: $secondary;
    border-radius: 100px;
    margin-right: 14px;

    @include size-md {
      display: block;
      height: 4px;
      margin-top: $padding-default;
    }
  }

  &__stats {
    display: none;
    padding: 0 $padding-default;
    margin-top: 8px;
    margin-bottom: $padding-normal;

    @include size-md {
      display: block;
    }

    &-title {
      color: $text-grey-light;
      font-size: $font-size-xs;
      font-weight: $font-weight-semi-bold;
      margin-bottom: 8px;
    }

    &-value {
      font-size: $font-size-title;
    }
  }
}
