.country-list {
  &__flag {
    position: absolute;
    top: -9px;
    border-radius: 26px;
  }

  &__country {
    margin-left: 40px;
    max-width: 50px;
    overflow: hidden;
  }

  &__percentage {
    display: inline-block;
    height: 8px;
    background-color: $secondary;
    border-radius: 100px;
    margin-right: 14px;
  }
}
