.user-avatar {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  margin: $padding-normal 0;

  &__image {
    height: 180px;
    width: 180px;
    border-radius: 100%;
    background-color: $platinum;
    margin-bottom: $padding-medium;
  }

  &__upload {
    margin-bottom: $padding-default;
    position: relative;
  }

  &__controller {
    position: absolute;
    display: none;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    cursor: pointer;
  }

  &__remove {
    cursor: pointer;
    transition: $transition-1;

    &:hover {
      color: $primary;
    }

    &:active {
      color: $secondary;
    }
  }
}
