.releases {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;

    @include size-md {
      padding-bottom: $padding-normal;
    }
  }

  &__link {
    color: $primary;
    font-size: $font-size-sm;
    text-decoration: none;
    transition: $transition-1;

    &:hover {
      color: $secondary;
    }

    @include size-md {
      display: none;
    }
  }
}

.releases-item {
  padding-bottom: 32px;
  display: flex;
  position: relative;

  @include size-md {
    padding-bottom: $padding-normal;
  }

  &:last-child {
    padding-bottom: 0;

    @include size-md {
      padding-bottom: $padding-normal;
    }
  }

  &:after {
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    border-left: 1px dashed $platinum;
    bottom: 0px;
    position: absolute;
    left: 27px;

    @include size-md {
      left: 21px;
    }
  }

  &__tag {
    width: 54px;
    height: 54px;
    margin-right: $padding-normal;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eef0fc;
    font-size: $font-size-xs;
    color: $primary;
    z-index: 1;
    position: relative;

    @include size-md {
      height: 40px;
      width: 40px;
      margin-right: $padding-default;
      font-size: 11px;
    }

    &_active {
      background: $primary;
      font-weight: $font-weight-semi-bold;
      color: $white;

      @include size-md {
        font-weight: normal;
      }
    }
  }

  &__body {
    width: calc(100% - 64px);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: $text-grey-light;

    @include size-md {
      font-size: $font-size-xs;
    }
  }

  &__title {
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: $font-size-md;
    font-weight: $font-weight-bold;

    @include size-md {
      font-size: $font-size-base;
      font-weight: $font-weight-semi-bold;
    }
  }

  &__date {
    display: flex;
    align-items: center;

    span:first-child {
      margin-right: 8px;
    }
  }

  &__description {
    font-size: 13px;
    line-height: 16px;
    color: $text-grey-light;
    margin-bottom: 12px;
  }

  &__more {
    color: $primary;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;

    @include size-md {
      font-size: $font-size-xs;
    }

    svg {
      left: 8px;
      position: relative;
      transition: $transition-1;
    }

    &:hover {
      svg {
        left: 18px;
      }
    }
  }
}
